<h1>Billing Details</h1>

<div class="right_content">
<%= link_to "New", new_billing_detail_path, :class =>'button_example' %>
<%= link_to "Back", billing_details_path, :class =>'button_example' %>

</div>


<p>
   <strong>Billing_type:</strong>
   <%= @billing_detail.billing_type %>
</p>
<p>
   <strong>Transaction_status:</strong>
   <%= @billing_detail.transaction_status %>
</p>

<style>
    h1
    {
    	position: relative;
    	top: 25%;
    	left: 35%;
    	right: 45%;
    	color: #FA58AC;
    }
    .right_content{
        float:right;
    }
    .right_content a{
        text-decoration: none;
    }
    .right_content a:hover{
        text-decoration: underline;
    }
</style>
